body {
  font-family: Arial, "メイリオ", Meiryo, "ヒラギノ角ゴPro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", sans-serif;
}
#main {
  width: 100%;
  background-color: #f8f8f6;
}
.top-img {
  width: 710px;
  margin-bottom: 5px;
}
div#cont-list-inner {
  width: 710px;
}
.clearfix:after {
  display: block;
  content: " ";
  clear: both;
}
#cont-list-inner section {
  position: relative;
  width: 228px;
  height: 228px;
  border: 1px solid #cabfa4;
  margin-right: 10px;
  margin-bottom: 10px;
  float: left;
}
#cont-list-inner section:nth-child(3n) {
  margin-right: 0;
}
div#cont-list-inner a {
  display: block;
}
#cont-list-inner section h1 {
  width: 125px;
  height: 16px;
  background-image: url(https://placehold.jp/125x16.png);
  position: absolute;
  left: 0;
  top: 10px;
}
#cont-list-inner section .thumb {
  width: 88px;
  height: 70px;
  background-image: url(https://placehold.jp/88x70.png);
  position: absolute;
  left: 70px;
  top: 65px;
}
#cont-list-inner section h2 {
  width: 188px;
  height: 17px;
  background-image: url(https://placehold.jp/188x17.png);
  position: absolute;
  left: 20px;
  top: 135px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
#cont-list-inner section .desc {
  width: 188px;
  font-size: 69%;
  line-height: 1.5;
  position: absolute;
  left: 20px;
  top: 165px;
}
